<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info om bilen</title>
</head>
<body>
    <h1>Info om bilen</h1>
    <form method='POST'>
        Pris fra: <input name='minprice' step="1" pattern="\d+">
        Pris til: <input name='maxprice' step="1" pattern="\d+">

        Km. stand fra: <input name='minmiles' step="1" pattern="\d+">
        Km. stand til: <input name='maxmiles' step="1" pattern="\d+">

        Årsmod. fra: <input name='minyears' step="1" pattern="\d+">
        Årsmod. til: <input name='maxyears' step="1" pattern="\d+">
        <input type="submit">
    </form>
    <p>Du søker i pris-intervallet {{ var1 }} kr til {{ var2 }} kr med kilometerstand mellom {{ var3 }} km og {{ var4 }} km og årsmodell mellom {{ var5 }} og {{ var6 }}.</p>
    <!--Gjennomsnittlig pris-->
    <p>Gjennomsnittlig pris er: {{ var1 }} kr</p>
    <!--Median pris-->
    <p>Median pris er: {{ var2 }} kr</p>
    <!--Høyeste pris-->
    <p>Høyeste pris er: {{ var3 }} kr</p>
    <!--Laveste pris-->
    <p>Laveste pris er: {{ var4 }} kr</p>
</body>
</html>